/* src/pages/FilterSearch.css */

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .filter-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .filter-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .filter-form input,
  .filter-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-form button {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-form button:hover {
    background-color: #c12727;
    ;
  }
  
  .restaurant-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #ff6347;
    color: white;
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
    font-weight: bold;
    color: #555;
  }
  
  /* Mobile view adjustments */
  @media (max-width: 600px) {
    .restaurant-cards {
      grid-template-columns: 1fr;
    }
  
    .pagination button {
      padding: 6px 12px;
    }
  }
  